/*  your css code here. If applicable */
.main-container{
    height: auto;
    width: auto;
    background-color: aqua;
    padding: 30px;
    align-items: row;
}

.container-Testimonil{
    background-color: aliceblue;
    padding: 5px;
    text-align: left;
    font: bold;
    border: 12px;
    border-color: black;
    margin-bottom: 20px;
}

.Author{
    text-align: right;
    padding-right: 4px;
    font-style: italic;
}
